version: '3.6'
services:
  jgw:
    build:
      context: jgw
      dockerfile: Dockerfile
    restart: always
    ports: 
      - ${JAVA_GATEWAY}:55555
    volumes:
      - ./profile:/irisdev/profile
      - ./fhir-package-cache:/root/.fhir/packages
  iris:
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        JAVA_GATEWAY_PORT: ${JAVA_GATEWAY}
        JAVA_GATEWAY_HOST: jgw
        FHIR_TERMINOLOGY_SERVER: ${FHIR_TERMINOLOGY_SERVER}
        FHIR_IG_LIST: /irisdev/profile
        DURABLE_SYS_DIR: /iris/durable
        FHIR_ENDPOINT_TO_BE_CREATED: ${FHIR_ENDPOINT_TO_BE_CREATED}
        NAMESPACE: ${NAMESPACE}
    restart: always
    command: --check-caps false
    ports: 
      - 32782:1972
      - 32783:52773
      - 32784:53773
    volumes:
      - iris-durable:/iris
    environment:
      - ISC_DATA_DIRECTORY=/iris/durable
    command: 
      - -a
      - iris session iris -U%SYS '##class(Security.Users).UnExpireUserPasswords("*")'
volumes:
  iris-durable: